* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    margin: 0;
    padding: 0;
    /* transition: 0.32s; */
}

.d-flex {
    display: flex;
}

.between {
    justify-content: space-between;
}

.fixed {
    position: fixed;
}

.pad-10 {
    padding: 10px;
}

.center {
    justify-content: center;
    align-items: center;
}

.around {
    justify-content: space-around;
}

.dir-row {
    flex-direction: row;
}

.dir-col {
    flex-direction: column;
}

.end {
    justify-content: end;
}

.gap {
    gap: 10px;
}

.container {}

.menu {
    background-color: black;
    
}

.dropdown {
    position: relative;
    display: inline-block;
    margin-left: 10px;
    /* margin: 0 24px; */
    /* padding: 90px; */
}

.dropdown-content {
    display: none;
    position: absolute;
    /* background-color: #d57979; */
    width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    /* padding: 10px; */
    z-index: 1;
    margin-left: -16px;
    margin-top: 8px; 
}
.dropdown-content>a{
    display: block;
    width: 100%;
    text-decoration: none;
    /* color: sandybrown; */
    padding:0;
}
.dropdown-content>a:hover {
    background-color: #ddd;
}

.pos-relative{
    position: relative;
}
.pos-abs{
    position: absolute;
}

.dropdown:hover .dropdown-content {
    display: block;
    background-color: white;
    color: black;
}
button>span{
    /* font-size: 16px; */
}

.img {
    background-color: transparent;
    width: 100%;
    min-height: 650px;
    max-height: 600px;
    background: url(./images/sailboat.jpg);
    /* background-position: ; */
    /* background-repeat: ; */
    background-size: 100% 92.3%;
    z-index: -1;
}

​ .team {}

.avatar {
    width: 100%;
    padding: 20px 100px;
}

.team h2 {
    font-size: 30px;
    font-family: "Segoe UI", Arial, sans-serif;
    font-weight: 400;
    margin-top: 40px;
}

.team p {
    font-size: 16px;
}

.man {
    display: inline-block;
    width: 100%;
}

.man>img {
    width: 50%;
    border-radius: 100%;
}

.man>h3,
.man>p {
    margin-top: 12px;
    font-size: larger;
}

.work {
    background-color: #333333;
    width: 100%;

}

.price {}

.contact {}

.footer {}

.btn {
    /* width: 80px; */
    border: none;
    background-color: transparent;
    color: white;
    cursor: pointer;
    float: left;
    font-size: 16px;
    padding: 8px 16px;
    font-weight: 100;
    /* margin-right: 10px; */
}
.btn-menu{
    
}

.btn:hover {
        background-color: #dfdfdf;
    color: black;

}
.fa{
    font: normal normal normal 14px/1 FontAwesome;
    margin-right: 10px;
}

#btn-img {
    color: white;
    /* margin-bottom: 1%;
    margin-left: 1%; */
    background-color: black;
    width: 220px;
    padding: 12px 4px;
    font-size: 24px;
    top: 82%;
    left: 1%;
    font-weight: 100;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

#btn-img:hover {
    background-color: #009688;
}

#logo {
    background-color: #009688;
}

#logo:hover {
    background-color: #e2e3e3;
}




/* For mobiles: */
.col-1 {
    text-align: center;
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

@media only screen and (min-width: 600px) {
    * {
        transition: 0.32s;
    }


    /* For small screens: */
    .col-sm-1 {
        width: 8.33%;
    }

    .col-sm-2 {
        width: 16.66%;
    }

    .col-sm-3 {
        width: 25%;
    }

    .col-sm-4 {
        width: 33.33%;
    }

    .col-sm-5 {
        width: 41.66%;
    }

    .col-sm-6 {
        width: 49%;
    }

    .col-sm-7 {
        width: 58.33%;
    }

    .col-sm-8 {
        width: 66.66%;
    }

    .col-sm-9 {
        width: 75%;
    }

    .col-sm-10 {
        width: 83.33%;
    }

    .col-sm-11 {
        width: 91.66%;
    }

    .col-sm-12 {
        width: 100%;
    }
}

@media only screen and (min-width: 800px) {
    /* * {
        transition: 0.32s;
    } */

    /* For medium desktop: */
    .col-md-1 {
        width: 8.33%;
    }

    .col-md-2 {
        width: 16.66%;
    }

    .col-md-3 {
        width: 22%;
    }

    .col-md-4 {
        width: 32.2%;
    }

    .col-md-5 {
        width: 41.66%;
    }

    .col-md-6 {
        width: 50%;
    }

    .col-md-7 {
        width: 58.33%;
    }

    .col-md-8 {
        width: 66.66%;
    }

    .col-md-9 {
        width: 75%;
    }

    .col-md-10 {
        width: 83.33%;
    }

    .col-md-11 {
        width: 91.66%;
    }

    .col-md-12 {
        width: 100%;
    }
}

@media only screen and (min-width: 1000px) {
    /* * {
        transition: 0.32s;
    } */

    /* For large desktop: */
    .col-ld-1 {
        width: 8.33%;
    }

    .col-ld-2 {
        width: 16.66%;
    }

    .col-ld-3 {
        width: 24%;
    }

    .col-ld-4 {
        width: 32.2%;
    }

    .col-ld-5 {
        width: 41.66%;
    }

    .col-ld-6 {
        width: 50%;
    }

    .col-ld-7 {
        width: 58.33%;
    }

    .col-ld-8 {
        width: 66.66%;
    }

    .col-ld-9 {
        width: 75%;
    }

    .col-ld-10 {
        width: 83.33%;
    }

    .col-ld-11 {
        width: 91.66%;
    }

    .col-ld-12 {
        width: 100%;
    }
}